{{set . "title" "Foo"}}
{{template "header.html" .}}

<header class="tripHeader">
  <div class="container">
    <div class="row">
        <h1>Trip Chop</h1>
        <p></p>
    </div>
  </div>
</header>
<section id="main" class="tripMain">

</section>

<script type="text/javascript">
format = d3.time.format("%d-%m-%Y (%H:%M h)");

var svg = d3.select("#main")
  .append("svg")
    .attr("width", "100%")
    .attr("height", "100%")
  .append('g')
      .attr('class','chart');

</script>
{{template "footer.html" .}}
