{{set . "title" "Home"}}
{{template "header.html" .}}

<script type="text/javascript">

var width = 500,
    height = 300,
    barHeight = 20,
    margin = {top: 15, right: 10, bottom: 40, left: 35};

var x = d3.scale.linear()
    .range([width, 0]);

var y = d3.scale.ordinal()
    .rangeRoundBands([height, 0],.1);

d3.json("/public/js/foo.json", function(error, data) {
    y.domain(data.map(function(d) { return d.Port; }));
    x.domain([0, d3.max(data, function(d) { return d.Bytes; })]);

    var hour = d3.nest()
        .key(function(d){
          return d.Hour;
        })
        .entries(data);

     var svg = d3.select("body").selectAll("svg").data(hour)
        .enter().append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      svg.selectAll("rect")
        .data(function(d) {return d.values;})
        .enter()
        .append("rect")
        .attr("class", "bar")
        .attr("width", function(d) { return width - x(d.Bytes); })
        .attr("height", y.rangeBand())
        .attr("y", function(d) {  return  y(d.Port); })
        .attr("fill", "#22313F");
});


</script>

</body>
</html>
