{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="tripHeader">
  <div class="container">
    <div class="row">
        <h1>Trip Chop</h1>
        <p></p>
    </div>
  </div>
</header>
<section id="main" class="tripMain">
  <div class="tripContainer">
      <button type="button" id="left"  class="tripButton tripButton-home">Tool</button>
      <button type="button" id="right" class="tripButton tripButton-home">Presentation</button>
  </div>
</article>

{{template "footer.html" .}}
